@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yetenekler Tablosu</h4>
                <p class="card-description">
                    Yetenekleri oranlarıyla birlikte gösteren tablo
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Yetenek </th>
                                <th> Oran </th>
                                <th> Düzenle </th>
                                <th> Sil </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.SkillID </td>
                                    <td> @item.Title </td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: @item.Value%" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100">@item.Value%</div>
                                        </div>
                                    </td>
                                    <td style="width:10%"><a href="/Skill/UpdateSkill/@item.SkillID" type="button" class="btn btn-warning btn-fw">Düzenle</a></td>
                                    <td style="width:10%"><a href="/Skill/DeleteSkill/@item.SkillID" type="button" class="btn btn-danger btn-fw">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/Skill/AddSkill/" type="button" class="btn btn-primary btn-fw">Yetenek Ekle</a>
                </div>
            </div>
        </div>
    </div>
</div>
