@model List<Portfolio>
<div class="row ">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Order Status</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Görsel </th>
                                <th> Görsel Adı </th>
                                <th> Proje Fiyatı </th>
                                <th> Başlangıç Tarih </th>
                                <th> Durum </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.PortfolioID</td>
                                    <td><img src="@item.ImgUrl" /></td>
                                    <td>@item.Name</td>
                                    <td>@item.Cost</td>
                                    <td>@item.DateStart</td>
                                    <td>
                                        <a class="badge badge-outline-success" href="/Portfolio/UpdatePortfolio/@item.PortfolioID/">Detayları Gör</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
